.content-overview {
  position: relative;
  box-shadow: rgb(34 36 38 / 15%) 0px 1px 2px 0px;
  padding: 0 1em 1em 1em;
  margin: 0px 0px 1rem;
  border-radius: 0.285714rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  overflow-wrap: break-word;
  width: 100%;
  @include flex();
  flex-wrap: wrap;

  &-item {
    margin-right: 20px;
    margin-top: 1em;
    h3 {
      color: rgb(92, 127, 199);
      margin-bottom: 0.5rem;
      margin-top: 0px;
      font-size: 1.1rem;
      font-weight: 400;
    }
    p {
      color: rgb(57, 76, 90);
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      margin: 0;

      i {
        font-size: 15px;
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

.content-overview-desc {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem 0px;
  font-size: 13px;
  color: rgb(128, 128, 128);
  font-weight: 400;
}

.content-overview-chart {
  width: 100%;
  margin-bottom: 15px;
  h3 {
    padding: 0px;
    margin: 0px;
    color: rgb(91, 102, 118);
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 400;
  }
  &-main {
    position: relative;
    box-shadow: rgb(34 36 38 / 15%) 0px 1px 2px 0px;
    padding: 1em;
    margin: 0.5rem 0px;
    border-radius: 0.285714rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    overflow-wrap: break-word;
    width: 100%;
  }
}

.content-overview-table {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  .sipto {
    width: 100%;
    @include flex();
    align-items: flex-start;

    &-left {
      width: 50%;
      margin-right: 5px;
      h4 {
        padding: 0px;
        margin: 0px 0px 0.4rem;
        color: rgb(91, 102, 118);
        font-size: 1.1rem;
        line-height: 1;
        font-weight: 400;
      }
      .input {
        span {
          font-size: 0.9rem;
          font-weight: 400;
          color: rgb(75, 84, 97);
        }
        .main-input {
          @include flex();
          input {
            margin: 0;
            max-width: 100%;
            flex: 1 0 auto;
            outline: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            text-align: left;
            line-height: 1.21428571em;
            padding: 0.67857143em 1em;
            background: #fff;
            border: 1px solid rgba(34, 36, 38, 0.15);
            border-radius: 0.28571429rem;
            border-color: rgba(34, 36, 38, 0.15) !important;
            color: rgb(57, 76, 90) !important;
          }
          div {
            width: 30%;
          }

          .input-icon {
            position: relative;
            width: 40%;
            padding: 0 10px;

            .input-center {
              width: 100%;
              // padding-right: 30px;
            }
            i {
              display: block;
              position: absolute;
              right: 10px;
              cursor: pointer;
              top: 12px;
              right: 20px;
            }
          }
        }
      }
    }
    &-right {
      margin-left: 5px;
      width: 50%;
      height: 81.8px;
      overflow: hidden;
      border-radius: 3px;
      img {
        width: 100%;
      }
    }
  }
}

.overview-table {
  width: 100%;
  @include flex();
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 15px;
  .table-left,
  .table-right {
    width: 50%;
    overflow: hidden;
    border-radius: 3px;
    table {
      margin: 1em 0;
      border: 1px solid rgba(34, 36, 38, 0.15);
      box-shadow: none;
      border-radius: 0.28571429rem;
      border-collapse: separate;
      border-spacing: 0;
      font-size: 14px;

      th {
        font-weight: 500;
      }
      td {
        padding: 0;
        min-height: 43px;
        span {
          display: inline-block;
          width: 100%;
          border: 1px solid white;
          padding: 10px !important;
          color: rgb(57, 76, 90) !important;
          text-align: right;
          font-weight: 400;
        }
        span.bg-pink {
          background-color: rgb(248, 223, 223);
        }
        span.first {
          text-align: left;
        }
      }
    }
  }
  .table-left {
    margin-right: 5px;
  }
  .table-right {
    margin-left: 5px;
  }
}

.large-table {
  width: 100%;
  margin-bottom: 15px;
  h3 {
    padding: 0px;
    margin: 0px;
    color: rgb(91, 102, 118);
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 10px;
  }
  table {
    margin: 1em 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;
    border-radius: 0.28571429rem;
    border-collapse: separate;
    border-spacing: 0;

    th {
      font-weight: 500;
      text-align: right;
      min-width: 30px;
    }
    td {
      text-align: right;
      font-weight: 400;
      padding: 10px;
    }
    .bg-pink {
      background-color: rgb(248, 223, 223);
      color: rgb(57, 76, 90) !important;
    }
    .bg-pink-900 {
      background-color: #fdbbbb;
    }
    .left {
      text-align: left;
    }
  }
}

.flex-table {
  @include flex();
  margin-bottom: 15px;
  &-left,
  &-right {
    width: 50%;

    h3 {
      padding: 0px;
      margin: 0px;
      color: rgb(91, 102, 118);
      font-size: 1.1rem;
      line-height: 1;
      font-weight: 400;
      padding-bottom: 10px;
    }
    table {
      width: 100%;
      margin: 1em 0;
      border: 1px solid rgba(34, 36, 38, 0.15);
      box-shadow: none;
      border-radius: 0.28571429rem;
      border-collapse: separate;
      border-spacing: 0;

      td.right {
        text-align: right;
      }
      th {
        font-weight: 500;
        padding: 8px 15px;
      }
      td {
        padding: 11px 15px;
      }
    }
  }
  &-left {
    margin-right: 5px;
  }
  &-right {
    margin-left: 5px;
  }
}
.border-common {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  overflow: auto;
  table {
    margin: 0 !important;
    border: none !important;
  }
}
.chart-bot div {
  margin: 0 0 1 em;
  line-height: 1.4285em;
  color: rgb(57, 76, 90);
  font-weight: 400;
}

@media (max-width: 700px) {
  .content-overview-item {
    width: 45%;
  }
  .overview-table {
    display: block;
    .table-left,
    .table-right {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
    .table-left {
      table {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .content-overview-item {
    width: 100%;
  }
  .content-overview-table .sipto-left .input .main-input {
    display: block;
    div {
      width: 100%;
      input {
        width: 100%;
      }

    }
  }
  .content-overview-table .sipto-left .input .main-input .input-icon {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }
}
@media (max-width: 900px) {
  .flex-table {
    display: block;
    &-left {
      width: 100%;
      margin: 0;
      table {
        td {
          text-align: right;
        }
        td.left {
          text-align: left;
        }
      }
    }
    &-right {
      width: 100%;
      margin: 0;
      margin-top: 15px;
      table {
        td {
          text-align: right;
        }
        td.left {
          text-align: left;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .content-overview-table .sipto {
    display: block;
    .sipto-left {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
      .input .main-input input {
        width: 100%;
      }
    }
    .sipto-right {
      width: 100%;
      margin-left: 0;
    }
  }
}
